* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#hero {
    background-attachment: #f5f7fb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    padding: 30px 0px;
}

.logo {
    color: #122853;
    font-weight: 700;
    font-size: 1.4rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 40px;
}

.menu li a {
    margin: 0px 20px;
    color: #303030;
    font-weight: 500;
}

.menu li a:hover {
    color: #014dd5;
}

.nav-appointment-btn {
    height: 45px;
    padding: 0px 20px;
    border-radius: 4px;
    background-color: #014dd5;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.hero-content {
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    margin-top: auto;
}

.hero-img {
    display: flex;
}

.hero-img img {
    width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: contain;
    object-position: center bottom;
}

.hero-text {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.hero-text h1 {
    font-size: 3.2rem;
    color: #122853;
    line-height: 3.6rem;
}

.hero-text p {
    color: #535353;
    margin: 15px 0px;
    max-width: 500px;
    letter-spacing: 0.3px;
    line-height: 1.8rem;
}

.hero-text-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-text-btns a {
    height: 45px;
    padding: 0px 15px;
    background-color: #122853;
    color: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-right: 10px;
}

.hero-text-btns i {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #014dd5;
    margin-right: 8px;
    font-size: 0.5rem;
    padding-bottom: 1px;

}