 .feed{
    flex: 0.6;
    margin: 0 20px;
 }

 .feed_inputContainer{
    background-color: aqua;
    padding: 10px;
    padding-bottom:20px;
    border-radius:18px;
    margin-bottom:20px;
 }

 .feed_input{
    
 }