.headerOption{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: right 20px;
    color:aqua;
    cursor:pointer;
}

.headerOption_title{
    font-size: 12px;
    font-weight:400;
}


.headerOption:hover{
    color: black;            
} 

.headerOption_icon{
    object-fit: contain;
    height:25px !important;
    width: 25px !important;

}